:root {
    --windowW: 4606;
    --windowH: 2278;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    overflow: hidden;
}


#wholeContainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

/* // TIME AND MESSAGE // */
#time {
    position: absolute;
    width: calc(956.77 / var(--windowW) * 100%);
    aspect-ratio: 956.77/410.21;
    left: calc(60.6 / var(--windowW) * 100%);
    top: calc(1877.14 / var(--windowH) * 100%);
}

#message {
    position: absolute;
    width: calc(1071.85 / var(--windowW) * 100%);
    aspect-ratio: 2071.85/792.21;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}



/*// NEGATIVE THOUGHTS //*/
.negativeThoughts {
    position: absolute;
}

.negativeThoughts.correctWord {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/567.57;
    left: calc(995.77 / var(--windowW) * 100%);
    top: calc(170.39 / var(--windowH) * 100%);
}

.negativeThoughts.sayNo {
    /* background-color: peru; */
    width: calc(1232.44 / var(--windowW) * 100% );
    aspect-ratio: 1232.44/588.25;
    left: calc(2276.63 / var(--windowW) * 100%);
    top: calc(74.66 / var(--windowH) * 100%);
}

.negativeThoughts.lookPerfect {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/567.57;
    left: calc(3660.23 / var(--windowW) * 100%);
    top: calc(282.26 / var(--windowH) * 100%);
} 

.negativeThoughts.lastMinute {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/567.57;
    left: calc(58.88 / var(--windowW) * 100%);
    top: calc(1249.93 / var(--windowH) * 100%);
}

.negativeThoughts.useless {
    width: calc(1063.9 / var(--windowW) * 100%);
    aspect-ratio: 1063.9/693.07;
    left: calc(1566.5 / var(--windowW) * 100%);
    top: calc(867.53 / var(--windowH) * 100%);
}

.negativeThoughts.writingEmail {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/586.39;
    left: calc(1672.17 / var(--windowW) * 100%);
    top: calc(1435.91 / var(--windowH) * 100%);
}

.negativeThoughts.perfectFont {
    width: calc(986.15 / var(--windowW) * 100%);
    aspect-ratio: 986.15/499.79;
    left: calc(2812.55 / var(--windowW) * 100%);
    top: calc(1298.89 / var(--windowH) * 100%);   
}

.negativeThoughts.longWinded {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/499.43;
    left: calc(2028.54 / var(--windowW) * 100%);
    top: calc(1731.1 / var(--windowH) * 100%);
}

.negativeThoughts.judgeFont {
    width: calc(998 / var(--windowW) * 100%);
    aspect-ratio: 998/541;
    left: calc(3161.23 / var(--windowW) * 100%);
    top: calc(1648.68 / var(--windowH) * 100%);
}


/* // EMAIL // */
.email {
    width: calc(1333.38 / var(--windowW) * 100%);
    aspect-ratio: 1333.38/1471.27;
    position: absolute;
}

.email.ireneEmail {
    left: calc(143.33 / var(--windowW) * 100%);
    top: calc(72.25 / var(--windowH) * 100%);
}

.email.ericEmail {
    left: calc(725.08 / var(--windowW) * 100%);
    top: calc(728.96 / var(--windowH) * 100%);
}

/*// TASK BREAKDOWN //*/
.taskBreakdown {
    width: calc(1303.66 / var(--windowW) * 100%);
    aspect-ratio: 1303.66/1006.07;
    position: absolute;
}

.taskBreakdown.marketingTask {
    left: calc(2984.13 / var(--windowW) * 100%);
    top: calc(50.72 / var(--windowH) * 100%);
}

.taskBreakdown.eventBrochure {
    left: calc(3258.07 / var(--windowW) * 100%);
    top: calc(928.9 / var(--windowH) * 100%);
}



/* // SOCIAL // */
.social {
    width: calc(1121.24 / var(--windowW) * 100%);
    aspect-ratio: 1121.24/1804.6;
    position: absolute;
}

.social.textAll {
    left: calc(1734.16 / var(--windowW) * 100%);
    top: calc(46.1 / var(--windowH) * 100%);
}

.social.kaylee {
    left: calc(1184.94 / var(--windowW) * 100%);
    top: calc(301.25 / var(--windowH) * 100%);
}

/* parent reminder */
.parentReminder {
    width: calc(1082 / var(--windowW) * 100%);
    aspect-ratio: 1082/610.88;
    position: absolute;

    left: calc(2657.71 / var(--windowW) * 100%);
    top: calc(78.08 / var(--windowH) * 100%);
}



/* // HEALTH // */
.doctor {
    width: calc(1252.28 / var(--windowW) * 100%);
    aspect-ratio: 1252.28/1468.06;
    position: absolute;

    left: calc(2200 / var(--windowW) * 100%);
    top: calc(730 / var(--windowH) * 100%);
}


/* // WORK // */
.work {
    width: calc(1082 / var(--windowW) * 100%);
    /* use this to bound the height to its aspect-ratio */
    aspect-ratio: 1082/610.88;
    position: absolute;
}

.work.igWed {
    left: calc(46.3 / var(--windowW) * 100%);
    top: calc(851.74 / var(--windowH) * 100%);
}

.work.igThurs {
    left: calc(157.34 / var(--windowW) * 100%);
    top: calc(644.78 / var(--windowH) * 100%);
}

.work.igFri {
    left: calc(276.57 / var(--windowW) * 100%);
    top: calc(452.41 / var(--windowH) * 100%);
}

.work.marchFestSocial {
    left: calc(476.36 / var(--windowW) * 100%);
    top: calc(1179 / var(--windowH) * 100%);
}

.work.marchFestLanding {
    left: calc(3244.89 / var(--windowW) * 100%);
    top: calc(1586.29 / var(--windowH) * 100%);
}

.work.eventBrochure {
    left: calc(3197.75 / var(--windowW) * 100%);
    top: calc(1061.58 / var(--windowH) * 100%);
}

.work.socialMedia {
    left: calc(2907.06 / var(--windowW) * 100%);
    top: calc(823.33 / var(--windowH) * 100%);
}

.work.marketing {
    left: calc(2572.74 / var(--windowW) * 100%);
    top: calc(584.96 / var(--windowH) * 100%);
}

