:root {
    --windowW: 4606;
    --windowH: 2278;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* disable highlighting */
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}


body {
    overflow-x: hidden;
    background-color: black;
}


#wholeContainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

/* // TIME AND MESSAGE // */
#time {
    position: absolute;
    width: calc(956.77 / var(--windowW) * 100%);
    aspect-ratio: 956.77/410.21;
    left: calc(60.6 / var(--windowW) * 100%);
    top: calc(1877.14 / var(--windowH) * 100%);
}

#message {
    position: absolute;
    width: calc(1071.85 / var(--windowW) * 100%);
    aspect-ratio: 2071.85/792.21;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}



/*// NEGATIVE THOUGHTS //*/
.negativeThoughts {
    position: absolute;
}

.negativeThoughts.correctWord {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/567.57;
    left: calc(1973.96 / var(--windowW) * 100%);
    top: calc(736.71 / var(--windowH) * 100%);
}

.negativeThoughts.sayNo {
    /* background-color: peru; */
    width: calc(1232.44 / var(--windowW) * 100% );
    aspect-ratio: 1232.44/588.25;
    left: calc(3306 / var(--windowW) * 100%);
    top: calc(97 / var(--windowH) * 100%);
}

.negativeThoughts.lookPerfect {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/567.57;
    left: calc(3587.59 / var(--windowW) * 100%);
    top: calc(450 / var(--windowH) * 100%);
} 

.negativeThoughts.lastMinute {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/567.57;
    left: calc(1603.62 / var(--windowW) * 100%);
    top: calc(350 / var(--windowH) * 100%);
}

.negativeThoughts.useless {
    width: calc(1063.9 / var(--windowW) * 100%);
    aspect-ratio: 1063.9/693.07;
    left: calc(2970 / var(--windowW) * 100%);
    top: calc(1500 / var(--windowH) * 100%);
}

.negativeThoughts.writingEmail {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio: 893.4/586.39;
    left: calc(1491.69 / var(--windowW) * 100%);
    top: calc(978.33 / var(--windowH) * 100%);
}

.negativeThoughts.perfectFont {
    width: calc(986.15 / var(--windowW) * 100%);
    aspect-ratio: 986.15/499.79;
    left: calc(227.79 / var(--windowW) * 100%);
    top: calc(462.73 / var(--windowH) * 100%);   
}

.negativeThoughts.longWinded {
    width: calc(893.4 / var(--windowW) * 100%);
    aspect-ratio:  893.4/499.43;
    left: calc(3635.39 / var(--windowW) * 100%);
    top: calc(1400 / var(--windowH) * 100%);
}

.negativeThoughts.judgeFont {
    width: calc(986.15 / var(--windowW) * 100%);
    aspect-ratio: 998/541;
    left: calc(35 / var(--windowW) * 100%);
    top: calc(750 / var(--windowH) * 100%);
}


/* // EMAIL // */
.email {
    width: calc(1333.38 / var(--windowW) * 100%);
    aspect-ratio: 1333.38/1471.27;
    position: absolute;
}

.email.ireneEmail {
    left: calc(1555 / var(--windowW) * 100%);
    top: calc(45 / var(--windowH) * 100%);
}

.email.ericEmail {
    left: calc(3155 / var(--windowW) * 100%);
    top: calc(656 / var(--windowH) * 100%);
}

/*// TASK BREAKDOWN //*/
.taskBreakdown {
    width: calc(1320.1 / var(--windowW) * 100%);
    aspect-ratio: 1320.1/1018.76;
    position: absolute;
}

.taskBreakdown.marketingTask {
    left: calc(2730 / var(--windowW) * 100%);
    top: calc(157 / var(--windowH) * 100%);
}

.taskBreakdown.eventBrochure {
    left: calc(117 / var(--windowW) * 100%);
    top: calc(200 / var(--windowH) * 100%);
}



/* // SOCIAL // */
.social {
    width: calc(1121.24 / var(--windowW) * 100%);
    aspect-ratio: 1121.24/1804.6;
    position: absolute;
}

.social.textAll {
    left: calc(1800 / var(--windowW) * 100%);
    top: calc(504 / var(--windowH) * 100%);
}

.social.kaylee {
    left: calc(930 / var(--windowW) * 100%);
    top: calc(347/ var(--windowH) * 100%);
}

/* parent reminder */
.parentReminder {
    width: calc(1082 / var(--windowW) * 100%);
    aspect-ratio: 1082/610.88;
    position: absolute;

    left: calc(2100 / var(--windowW) * 100%);
    top: calc(1100 / var(--windowH) * 100%);
}



/* // HEALTH // */
.doctor {
    width: calc(990.77 / var(--windowW) * 100%);
    aspect-ratio: 990.77/1161.5;
    position: absolute;

    left: calc(2833 / var(--windowW) * 100%);
    top: calc(986 / var(--windowH) * 100%);
}


/* // WORK // */
.work {
    width: calc(1082 / var(--windowW) * 100%);
    /* use this to bound the height to its aspect-ratio */
    aspect-ratio: 1082/610.88;
    position: absolute;
}

.work.igWed {
    left: calc(607 / var(--windowW) * 100%);
    top: calc(15 / var(--windowH) * 100%);
}

.work.igThurs {
    left: calc(801 / var(--windowW) * 100%);
    top: calc(201 / var(--windowH) * 100%);
}

.work.igFri {
    left: calc(993 / var(--windowW) * 100%);
    top: calc(372 / var(--windowH) * 100%);
}

.work.marchFestSocial {
    left: calc(3493 / var(--windowW) * 100%);
    top: calc(1005 / var(--windowH) * 100%);
}

.work.marchFestLanding {
    left: calc(3299 / var(--windowW) * 100%);
    top: calc(1520 / var(--windowH) * 100%);
}

.work.eventBrochure {
    left: calc(34 / var(--windowW) * 100%);
    top: calc(680 / var(--windowH) * 100%);
}

.work.socialMedia {
    left: calc(99 / var(--windowW) * 100%);
    top: calc(1175 / var(--windowH) * 100%);
}

.work.marketing {
    left: calc(3121 / var(--windowW) * 100%);
    top: calc(77 / var(--windowH) * 100%);
}

